.hero(class="bg-[url('../images/header/hero-mobile.jpg')] xxs:bg-[url('../images/header/hero-tablet.jpg')] lg:bg-[url('../images/header/hero-large.jpg')] xxs:bg-right-top lg:bg-center bg-no-repeat bg-cover mx-[10px] sm:mx-5 my-6 sm:my-10 p-[18px] sm:px-12 md:px-16 sm:py-10 2xl:py-16 rounded-[7px] xl:mx-auto bg-center xl:max-w-screen-xl xxl:max-w-screen-xxl 2xl:max-w-screen-2xl")
  .flex.flex-col.items-start.justify-between.gap-3(class="sm:gap-4 2xl:gap-6 px-4 mx-auto max-w-full lg:max-w-screen-lg xl:max-w-screen-xl xxl:max-w-screen-xxl")
    h2(class="text-[18px] xs:text-[34px] lg:text-[50px] leading-tight font-black uppercase text-[#171819] max-w-56 md:max-w-96 lg:max-w-[570px] mt-6") Широкий ассортимент Одежды
    p(class="text-xs xs:text-lg text-[#121214] max-w-44 xs:max-w-96 lg:max-w-[480px]") Одежда от известные брендов у нас в каталоге. Только качественные вещи.
    button.inline-flex.items-center.justify-center.gap-4.bg-black.uppercase.text-xs.font-extrabold(class="rounded-[5px] text-gray-300 hover:text-white p-[18px] xs:p-5")
      | Перейти в каталог
      img(src="./images/icons/arrow-right-white.svg", alt="")
    .flex.items-center.gap-4(class="mt-3 2xl:mt-10")
      button.bg-white.opacity-80.flex.items-center.justify-center.rounded-full(class="w-16 h-16 hover:opacity-100"): img(src="./images/icons/arrow-left.svg", alt="")
      button.bg-white.opacity-80.flex.items-center.justify-center.rounded-full(class="w-16 h-16 hover:opacity-100"): img(src="./images/icons/arrow-right.svg", alt="")