.w-full.mt-56(class="xxs:mt-52 xs:mt-48 lg:mt-96 bg-logo-mask-gradient bg-contain bg-no-repeat bg-[#D9D9D9]")
  .relative.h-full.pt-72.pb-12(class="xs:pt-[350px] sm:pt-[375px] px-2.5 sm:px-4 mx-auto max-w-full xl:max-w-screen-xl xxl:max-w-screen-xxl")
    .absolute.right-0.left-0.text-white(class="-top-[24%] lg:-top-[50%] 2xl:-left-[74px] 2xl:-right-[74px] bg-blue-gradient mx-2.5 sm:mx-4 p-[18px] sm:px-12 md:px-16 lg:py-24 rounded-[7px] xl:mx-auto bg-center xl:max-w-screen-xl xxl:max-w-screen-xxl 2xl:max-w-screen-2xl")
      picture.object-cover.absolute.hidden(class="md:block -top-3.5 xl:-top-8 right-[8%] lg:right-[5%] xl:right-[8%] 2xl:right-[15%]")
        source(srcset="./images/footer/phone-tablet.png" media="(max-width: 1024px)")
        img.object-cover(src="./images/footer/phone.png", alt="", class="lg:w-64 xl:w-auto")
      .flex.flex-col.items-center.justify-between.gap-4.text-center.py-5(class="md:text-left sm:px-4 md:items-start sm:gap-5 2xl:gap-6 mx-auto max-w-full lg:max-w-screen-lg xl:max-w-screen-xl xxl:max-w-screen-xxl")
        h2(class="text-2xl xs:text-[34px] lg:text-[50px] leading-tight font-black uppercase max-w-56 md:max-w-96 lg:max-w-[570px]") Рассчитать стоимость
        p(class="text-sm xs:text-[17px] lg:text-[19px] xs:leading-normal w-full md:max-w-96 lg:max-w-[620px]") Если вам не удалось найти то, что искали, вы всегда можете воспользоваться автоматическим расчетом стоимость заказа на маркетплейсе Poizon, включая комиссию сервиса и доставку.
        .flex.flex-col.text-left.gap-8(class="md:flex-row md:mt-8")
          .flex.items-center.gap-5
            h2.flex.items-center.justify-center.shrink-0.rounded-full.border.border-white.text-2xl.font-bold(class="w-[64px] h-[64px]") 1
            span.text-sm.inline-block(class="w-full xs:max-w-96 lg:max-w-[258px] lg:text-base") Подробная, пошаговая статья о том, как установить приложение Poizon
          .flex.items-center.gap-5
            h2.flex.items-center.justify-center.shrink-0.rounded-full.border.border-white.text-2xl.font-bold(class="w-[64px] h-[64px]") 2
            span.text-sm.inline-block(class="w-full xs:max-w-96 lg:max-w-[258px] lg:text-base") Напишите нам в Telegram или WhatsApp какую вещь хотите купить
        button.inline-flex.items-center.justify-center.gap-4.bg-black.uppercase.text-xs.font-extrabold.mt-4(class="rounded-[5px] text-gray-300 hover:text-white p-[18px] xs:p-6")
          | Рассчитать стоимость
          img(src="./images/icons/arrow-right-white.svg", alt="")
    .flex.flex-col.gap-8(class="lg:flex-row lg:items-center lg:gap-16")
      .flex.flex-col.gap-3(class="lg:gap-5")
        h1.text-xl.font-black.uppercase.max-w-64(class="sm:text-2xl lg:text-4xl lg:max-w-96") О интернет-магазине xwear
        .text-sm.flex.flex-col.gap-2(class="leading-relaxed lg:gap-3")
          p Команда XWEAR предоставляет услугу доставки только оригинальных товаров c крупнейшего китайского маркетплейса Poizon, чтобы наши клиенты экономили более 40% на каждой покупке.
          p Работаем без посредников, благодаря чему можем предоставлять лучшую цену. Быстрая, бесплатная доставка.
          p Сайт, на котором можно будет удобно оформить покупку, не скачивая китайское мобильное приложение Poizon, с удобной фильтрацией огромного количества товаров, а так же с возможностью сразу увидеть окончательную цену товара.
      .flex.flex-col.gap-7.bg-white.rounded.text-sm(class="p-[22px] sm:flex-row sm:p-[30px] lg:p-10 lg:flex-col lg:min-w-[415px]")
        .flex.items-start.gap-6(class="sm:flex-col lg:flex-row")
          img(src="./images/icons/box.svg", alt="", width="44")
          .flex.flex-col.gap-2
            h2.text-xs.font-black.uppercase Бесплатная доставка до России
            p Доставим вам заказ абсолютно бесплатно до России
        .flex.items-start.gap-6(class="sm:flex-col lg:flex-row")
          img(src="./images/icons/users.svg", alt="", width="44")
          .flex.flex-col.gap-2
            h2.text-xs.font-black.uppercase мы Работаем без посредников
            p Между нами и клиентом нет третьего лишнего
        .flex.items-start.gap-6(class="sm:flex-col lg:flex-row")
          img(src="./images/icons/check.svg", alt="", width="44")
          .flex.flex-col.gap-2
            h2.text-xs.font-black.uppercase простота в заказе и использовании
            p Для заказа с Poizon не нужно никаких приложений