header.bg-black
  .flex.items-center.justify-between.py-8.font-dewi(class="px-4 mx-auto max-w-screen-sm sm:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl")
    a(href="index.html"): img(src="./images/header/logo.svg", alt="Brand logo", width="84", height="34")
    .flex.items-center.gap-4.text-white.text-sm.font-semibold(class="xl:gap-8 ")
      a.flex.items-center.gap-1(href="#")
        | Одежда
        img(src="./images/icons/arrow-down.svg")
      a.flex.items-center.gap-1(href="#")
        | Обувь
        img(src="./images/icons/arrow-down.svg")
      a.flex.items-center.gap-1(href="#")
        | Аксессуары
        img(src="./images/icons/arrow-down.svg")
      a.flex.items-center.gap-1(href="#")
        | Бренды
        img(src="./images/icons/arrow-down.svg")
      a.flex.items-center.gap-1(href="#")
        | Расчет стоимости
        img(src="./images/icons/arrow-down.svg")
      a.flex.items-center.gap-1.bg(href="#")
        | Информация
        img(src="./images/icons/arrow-down.svg")
    .flex.items-center.gap-6
      img(src="./images/icons/search.svg", class="opacity-75 transition-opacity duration-300 hover:opacity-100 cursor-pointer")
      img(src="./images/icons/star.svg", class="opacity-75 transition-opacity duration-300 hover:opacity-100 cursor-pointer")
      img(src="./images/icons/user.svg", class="opacity-75 transition-opacity duration-300 hover:opacity-100 cursor-pointer")
      .flex.text-xs.font-bold.flex.items-center.gap-1(class="opacity-75 transition-opacity duration-300 hover:opacity-100 cursor-pointer")
        img(src="./images/icons/backet.svg")
        span(class="text-gray-400 opacity-75 transition-opacity duration-300 hover:opacity-100 cursor-pointer") 11 899 ₽
        span(class="w-[18px] h-[18px] inline-flex items-center justify-center rounded-full bg-cyan-400 text-white") 7
