extends ../layouts/main.pug

block content
  include ../components/home/_hero.pug
  include ../components/home/_product-slider-list.pug
  include ../components/home/_shop-about.pug
  include ../components/home/_blog.pug