extends ../layouts/products.pug

block breadcrumb
  +breadcrumbs("Главная", "Каталог товаров", "Обувь")
  
block product-content
  .grid.grid-cols-2(class="xl:grid-cols-3")
    +product-card("sneaker-small-1.png", "sneaker-1.png", "Nike Court Zoom Cage 2", "4 699 ₽")
    +product-card("sneaker-small-2.png", "sneaker-2.png", "Air Force 1 Ultra", "6 789 ₽")
    +product-card("sneaker-small-1.png", "sneaker-1.png", "Nike Court Zoom Cage 2", "4 699 ₽")
    +product-card("sneaker-small-2.png", "sneaker-2.png", "Air Force 1 Ultra", "6 789 ₽")
    +product-card("sneaker-small-1.png", "sneaker-1.png", "Nike Court Zoom Cage 2", "4 699 ₽")
    +product-card("sneaker-small-2.png", "sneaker-2.png", "Air Force 1 Ultra", "6 789 ₽")
    +product-card("sneaker-small-2.png", "sneaker-2.png", "Air Force 1 Ultra", "6 789 ₽")
    +product-card("sneaker-small-1.png", "sneaker-1.png", "Nike Court Zoom Cage 2", "4 699 ₽")
    +product-card("sneaker-small-2.png", "sneaker-2.png", "Air Force 1 Ultra", "6 789 ₽")
    +product-card("sneaker-small-1.png", "sneaker-1.png", "Nike Court Zoom Cage 2", "4 699 ₽")
    +product-card("sneaker-small-2.png", "sneaker-2.png", "Air Force 1 Ultra", "6 789 ₽")
    +product-card("sneaker-small-2.png", "sneaker-2.png", "Air Force 1 Ultra", "6 789 ₽")
    +product-card("sneaker-small-1.png", "sneaker-1.png", "Nike Court Zoom Cage 2", "4 699 ₽")
    +product-card("sneaker-small-2.png", "sneaker-2.png", "Air Force 1 Ultra", "6 789 ₽")
    +product-card("sneaker-small-1.png", "sneaker-1.png", "Nike Court Zoom Cage 2", "4 699 ₽")
    +product-card("sneaker-small-2.png", "sneaker-2.png", "Air Force 1 Ultra", "6 789 ₽")