include ../mixins/product-card.pug
include ../mixins/blog-card.pug
include ../mixins/breadcrumbs.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="./css/main.min.css")
  body.font-dewi
    include ../components/base/_header.pug
    block content
    include ../components/base/_footer.pug
    script(src="./js/swiper-bundle.min.js") 
    script(src="./js/main.min.js") 