@font-face {
  font-family: "RF Dewi";
  src: url("../fonts/RFDewi-Black.woff2") format("woff2"),
    url("../fonts/RFDewi-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RF Dewi";
  src: url("../fonts/RFDewi-Light.woff2") format("woff2"),
    url("../fonts/RFDewi-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RF Dewi";
  src: url("../fonts/RFDewi-Thin.woff2") format("woff2"),
    url("../fonts/RFDewi-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RF Dewi";
  src: url("../fonts/RFDewi-Regular.woff2") format("woff2"),
    url("../fonts/RFDewi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RF Dewi";
  src: url("../fonts/RFDewi-Bold.woff2") format("woff2"),
    url("../fonts/RFDewi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
